---
---

<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Industrial Peons - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/styles/main.css' | relative_url }}">
  <link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/sitelogo.png">
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <style>
    body {
      background-image: url("{{site.baseurl}}/assets/{{ page.background | default: 'valleyoftrials' }}.png");
    }
  </style>
</head>

<body>
  <div class="page">
    <div class="sidebar">
      <h3 class="center">The Industrial Peons<br />of Azeroth</h3>
      <div><a href="{{site.baseurl}}/">HOME</a></div>
      <div><a href="{{site.baseurl}}/dkp/">CURRENT DKP</a></div>
      <div><a href="{{site.baseurl}}/onyxia-prio">ONY LOOT PRIO</a></div>
      <div><a href="{{site.baseurl}}/molten-core-prio">MC LOOT PRIO</a></div>
      <div><a href="{{site.baseurl}}/bwl-prio">BWL PRIO</a></div>
      <div><a href="{{site.baseurl}}/dkp-info">DKP INFO</a></div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>

</html>