---
---

<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Industrial Peons - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/third-party/bulma.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/styles/main.css' | relative_url }}">
  <link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/sitelogo.png">
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
  <div class="navbar is-spaced has-shadow">
    <div class="navbar-brand">
      <a class="navbar-item title" href="{{site.baseurl}}/">
        The Industrial Peons of Azeroth
      </a>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <aside class="box menu">
            <a href="{{site.baseurl}}/" class="menu-label">Guild Info
            </a>
            <ul class="menu-list">
              <li><a href="{{site.baseurl}}/raid-format">Raid Format</a></li>
              <li><a href="{{site.baseurl}}/epgp_standings">EP/GP Log</a></li>
            </ul>
            <a href="{{site.baseurl}}/raids" class="menu-label">Classic Raids</a>
            <ul class="menu-list">
              <li><a href="{{site.baseurl}}/onyxia">Onyxia</a></li>
              <li><a href="{{site.baseurl}}/molten-core">The Molten Core</a></li>
              <li><a href="{{site.baseurl}}/bwl">Blackwing Lair</a></li>
              <li><a href="{{site.baseurl}}/aq40">The Temple of Ahn'qiraj</a></li>
              <li><a href="{{site.baseurl}}/naxx">Naxxramas</a></li>
            </ul>
          </aside>
          {% if page.has_toc %}
          <aside class="box menu is-hidden-mobile">
            <p class="menu-label">Page Contents</p>
            <ul class="menu-list">
              {% include toc.html html=content h_min=2 %}
            </ul>
          </aside>
          {% endif %}

        </div>
        <div class="column is-1"></div>
        <div class="column">
          <div class="content">
            {{ content }}
          </div>
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </div>
</body>

<script>
  for (const table of document.getElementsByTagName("table")) {
    table.classList.add("table", "is-striped");
  }
</script>

</html>