---
---

body {
  background-attachment: fixed;
  background-image: url("{{site.baseurl}}/assets/valleyoftrials.png"); /* Overridden in every page, but here just in case */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(92, 43, 2);
}

h1,
h2,
h3 {
  font-family: "Eagle Lake", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  background-image: url("{{site.baseurl}}/assets/sitelogo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.page {
  display: flex;
}

.content,
.sidebar {
  background-image: url("{{site.baseurl}}/assets/backgroundtexture.png");
  color: rgb(61, 29, 2);
  display: inline;
  padding: 16px;
}

.sidebar {
  background-position: right;
  border-radius: 16px 0px 0px 16px;
  height: min-content;
  margin-left: auto;
}

.sidebar-section {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}

.sidebar-link {
  background-color: brown;
  border-color: rgb(197, 74, 74);
  border-radius: 16px;
  border-style: outset;
  color: goldenrod;
  display: block;
  font-family: "Eagle Lake", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  width: 75%;
}

.sidebar-link:active {
  background-color: darkred;
  border-style: inset;
  color: rgb(163, 124, 24);
}

.content {
  background-position: left;
  border-radius: 0 16px 16px 0px;
  margin-right: auto;
  width: 720px;
}
