---
---

h1,
h2,
h3,
.title {
  font-family: "Eagle Lake", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(61, 29, 2);
}

.navbar {
  background-image: url("{{site.baseurl}}/assets/goshek.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  background-color: rgba(32, 17, 5, 0.5);
  border-radius: 6px;
}

.navbar-brand .title {
  color: white;
}
